.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

/* Make iframe fill the container */
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#iframe a {
    color: #549dd1 !important;
    font-weight: 600;
    /* text-decoration: none; removes underline from links */
    /* Optional: Change hyperlink color on hover */
}

iframe {
    width: 100%;
    height: 500px;
}

.sketchfab-embed-wrapper a:hover {
    color: #3b7b99;
    text-decoration: underline;
}

.LAD_images img {
    width: 175%;
    height: 175%;
    height: auto;
    display: block;
}


.LCX_images img {
    width: 175%;
    max-width: none; /* Remove max-width limit */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Removes any extra spacing */
}

@media (max-width: 768px) {

.scroll-container {
    display: flex;
    overflow-x: auto;  /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Smooth scroll snapping */
    -webkit-overflow-scrolling: touch; /* For better scrolling experience on iOS */
    height: auto;
  }
  
  .scroll-container figure {
    min-width: 300px; /* Set a minimum width for each image */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove any padding */
    height: auto;
  }
  
  .scroll-container img {
    width: 175%;  /* Adjust width for responsiveness */
    height: auto; /* Keep aspect ratio intact */
    display: block; /* Ensures no unwanted space below the image */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    height: auto;
  }
}

.highlight {
    color: #3b7b99;
    font-weight: bold;
    font-size: 150%
}

#LCA {
    color:#549dd1;
}

#RCA {
    color:#67bcdb;
}

#CCS {
    color:#c75b61;
}


#cardiac_conduction_sys {
    padding-bottom: 5rem;
}