#header {
    background-color: #82c4f3; /* Light blue color */
}

body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  
/* General Dark Mode */
.dark-mode {
    background-color: #283758;
    color: #d0d1d3;
  }
  
  /* Navbar Dark Mode */
  .dark-mode #nav-bar {
    background-image: linear-gradient(to right, #172c48 7%, #632b2e 40%, #4b1e20 100%);
  }

  .dark-mode #searchInput {
    border: 1px solid #677692;
    background-color: #354055;
    color: #d0d1d3;
  }

  .dark-mode #searchInput::placeholder {
    color: #d0d1d3;
    opacity: 0.7;
}
  
  /* Table Header */
  .dark-mode #dictionaryTable th {
    border: 1px solid #677692;
    background-color: #4b1e20;
    color: #d0d1d3;
  }
  
  /* Table Rows */
  .dark-mode #dictionaryTable td {
    border: 1px solid #677692;
    background-color: #354055;
    color: #d0d1d3;
  }
  