html, body {
    height: 100%; /* Ensures the page takes full height */
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background:  #549dd1;
    color: white; 
    text-align: center; /* Center align the content */
    padding-top: 0; /* Padding for spacing */
    padding-bottom: 20px;
    position: relative; /* Fix footer to the bottom */
    width: 100% !important; /* Full width */
    bottom: 0; /* Align at the bottom of the page */
}

.dark-mode footer {
    background:  #632b2e;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Stack items vertically */
}

.footer-image {
    width: 100%; /* Make the image stretch across the entire width */
    height: 50%; /* Maintain aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0; /* Optional: Adds a small gap between the image and footer content */
    padding: 0;
}

.footer-logo {
    max-width: 130px; /* Adjust logo size */
    margin-bottom: 10px; /* Space between logo and text */
}

.footer-text {
    font-size: 14px; /* Smaller font size */
    font-style: italic; /* Optional: Makes the text italic */
}

#topBtn {
    display: block; /* Make sure the button is in the document flow */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Position the button at the bottom */
    right: 30px; /* Position the button 30px from the right */
    z-index: 99; /* Ensure it is above other content */
    border: none;
    outline: none;
    background-color: #549dd1; 
    color: white; 
    cursor: pointer;
    padding: 7px;
    padding-top: 4px; 
    border-radius: 10px; 
    width: 50px;
    height: 50px;
    transition: opacity 0.2s ease-in-out; /* Smooth opacity transition */
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Make it non-clickable when hidden */
}

#topBtn.hidden {
    opacity: 0; /* Fade out */
    pointer-events: none; /* Disable clicks */
}

#topBtn:not(.hidden) {
    opacity: 1; /* Fade in */
    pointer-events: auto; /* Enable clicks */
}

.dark-mode #topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; 
    background-color: #172c48; 
    color: white; 
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px;
    padding-top: 4px; 
    border-radius: 10px; 
    width: 50px;
    height:50px;
  }

#topBtn img {
    width: 100%;
    height: auto;
}
  
#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover*/
}