footer {
    background:  #549dd1;
    color: white; /* White text color */
    text-align: center; /* Center align the content */
    padding-top: 0; /* Padding for spacing */
    padding-bottom: 20px;
    position: relative; /* Fix footer to the bottom */
    width: 100% !important; /* Full width */
    bottom: 0; /* Align at the bottom of the page */
}

.footer-content {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Stack items vertically */
}

.footer-image {
    width: 100%; /* Make the image stretch across the entire width */
    height: 50%; /* Maintain aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0; /* Optional: Adds a small gap between the image and footer content */
    padding: 0;
}
.footer-logo {
    max-width: 130px; /* Adjust logo size */
    margin-bottom: 10px; /* Space between logo and text */
}

.footer-text {
    font-size: 14px; /* Smaller font size */
    font-style: italic; /* Optional: Makes the text italic */
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #549dd1; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px;
    padding-top: 4px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    width: 50px;
    height:50px;
  }

  #myBtn img {
    width: 100%;
    height: auto;
}
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }