html, body {
    height: 100%; /* Ensures the page takes full height */
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background:  #549dd1;
    color: white; 
    text-align: center; /* Center align the content */
    padding-top: 0; /* Padding for spacing */
    padding-bottom: 20px;
    position: relative; /* Fix footer to the bottom */
    width: 100% !important; 
    bottom: 0; /* Align at the bottom of the page */
}

.dark-mode footer {
    background:  #632b2e;
}

.footer-content {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Stack items vertically */
}

.footer-image {
    width: 100%;
    height: 50%; 
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0; /* Optional: Adds a small gap between the image and footer content */
    padding: 0;
}

.footer-logo {
    max-width: 130px; 
    margin-bottom: 10px; 
}

.footer-text {
    font-size: 14px; 
    font-style: italic; 
}

#topBtn {
    display: block; /* Make sure the button is in the document flow */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Position the button at the bottom */
    right: 30px; /* Position the button 30px from the right */
    z-index: 99; /* Ensure it is above other content */
    border: none;
    outline: none;
    background-color: #549dd1; 
    color: white; 
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px;
    padding-top: 4px; 
    border-radius: 10px; 
    width: 50px;
    height: 50px;
    transition: opacity 0.2s ease-in-out; /* Smooth opacity transition */
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Make it non-clickable when hidden */
}

.dark-mode #topBtn {
    /*display: none; Hidden by default -> COMPLETELY REMOVES:( overrides the .nothidden opacity of 1 */
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #172c48; 
    color: white; 
    cursor: pointer; 
    padding: 7px;
    padding-top: 4px; 
    border-radius: 10px; 
    width: 50px;
    height:50px;
  }

  #topBtn.hidden {
    opacity: 0; /* Fade out */
    pointer-events: none; /* Disable clicks */
}

#topBtn:not(.hidden) {
    opacity: 1; /* Fade in */
    pointer-events: auto; /* Enable clicks */
}

#topBtn img {
    width: 100%;
    height: auto;
}
  
#topBtn:hover {
    background-color: #555; 
}
