
* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding-left: 0; /* Remove left padding */
  padding-right: 0; /* Remove right padding */
}

/*-----------------------------banner section----------------------------->*/
#banner {
    background-image: linear-gradient(to right, #549dd1 7%, #e3888d 40%, #c75b61 100%);
    color: #fff;
    width: 100%;
  }

  .promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
  }

  #banner a {
    color: #fff;
    text-decoration: none;
  }

  .dark-mode #banner {
    background-image: linear-gradient(to right, #172c48 7%, #632b2e 40%, #4b1e20 100%);
  }

  .dark-mode #banner a {
    color: #fff;
    text-decoration: none;
  }

  .wave-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover; 
  }

  .heartspin-img {
    width: 10%;
    height: auto;
  }

  @media (max-width:992px) { 
  .heart-img {
    width: 50%;
    height: auto;
    }

}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

  /*-----------------------------workflow section----------------------------->*/
  #intro {
    padding-top: 10%;
    padding-bottom: 2%;
  }


  #workflow_title {
    padding-top: 2%;
    padding-bottom: 2%;
  }

.content-title {
    position: relative;
    /* Adding padding on the left to avoid content overlap with border */
}

#workflow {
  padding-top: 2%;
  padding-bottom: 5%;
}

.content {
    position: relative;
    /* Adding padding on the left to avoid content overlap with border */
    padding-left: 5rem;
    padding-right: 2rem;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px; /* Width of the left border */
    background: linear-gradient(to bottom, #549dd1, #67bcdb, #e3888d); 
    border-radius: 4px;
}

.dark-mode .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px; /* Width of the left border */
  background: linear-gradient(to bottom, #172c48, #632b2e, #4b1e20);
  border-radius: 4px;
}

.checklist ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.h3-step1 {
  color: #1889da;
}

body.dark-mode .h3-step1 {
  color: #6f7e8b; 
}

.h3-step3 {
  color: #549dd1;
}

body.dark-mode .h3-step3 {
  color: #a1c4e5; 
}

.h3-step4 {
  color: #67bcdb; 
}

body.dark-mode .h3-step4 {
  color: #bf9f9f; 
}

.h3-step5 {
  color: #e3888d; 
}

body.dark-mode .h3-step5 {
  color: #905454;
}

@media (max-width: 768px) {
  .content {
      padding-left: 2rem; /* Reduce border padding on smaller screens */
  }
}

  /*-----------------------------key learning section----------------------------->*/
  #topics {
    padding-top: 7%;
    padding-bottom: 5%;
    background-color: #f0f0f0;
    width: 100%;
  }

  .dark-mode #topics {
    background-color: #172c48;
  }

  #topics .container {
    max-width: 1140px; /* This ensures the container remains centered */
    margin: 0 auto; /* Centers the container */
}

  .topic {
    padding: 20px;
  }

  .topic h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
  }

  .title {
    padding-bottom: 40px;
  }

  .title::before {
    content:'';
    background: #549dd1;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
  }

  .dark-mode .title::before {
    background: #283758;
  }