@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

.submenu-item {
  padding-left: 20px; /* Indent the submenu */
}

.navbar-brand img {
    max-width: 200px;
    width: auto;
}

#nav-bar {
    background-image: linear-gradient(to right, #549dd1 7%, #e3888d 40%, #c75b61 100%);
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
    box-sizing: content-box;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Brand on the left, links on the right */
    align-items: center;
    padding: 0 20px; /* Adjust padding as necessary */
  }

.dropdown-item:hover {
    color: #FFF;
    background-color: #e3888d;
}

.dark-mode .dropdown-item:hover {
    color: #FFF;
    background-color: #492123;
}


.fa-bars-staggered {
    color: #fff;
    font-size: 1.5rem;
}

.fa-xmark {
    color: #fff;
    font-size: 30px !important;
}

.nav-link { /*changes text colour when parent link is clicked, displaying dropdown items*/
    font-weight: 600;
    color: #FFF;
}

.nav-link.show {
    font-weight: 600;
    color: 
    #f2b8ce ;
}

.dark-mode .nav-link.show {
    font-weight: 600;
    color: #654552 !important;
}

.nav-link:hover {
    font-weight: 600;
    color: #f2b8ce !important;
}

.dark-mode .nav-link:hover {
    font-weight: 600;
    color: #96838a !important;
}

/* Colour when hovering over the tabs which are dropdowns */
.dropdown:hover .nav-link { /* maintains hover color of parent link when hovering over dropdown items */
    color: #f2b8ce !important;
  }

.dark-mode .dropdown:hover .nav-link { /* maintains hover color of parent link when hovering over dropdown items */
    color: #96838a !important;
  }

.navbar-toggler {
    outline: none !important;
    border: none !important;
  }


.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown>.dropdown-menu /*UL element with class dropdown menu */ {
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 2;
}

body {
    background-color: white;
    color: black;
    transition: background-color 0.2s, color 0.1s;
  }
  
/* General Dark Mode */
.dark-mode {
    background-color: #283758;
    color: #d0d1d3;
  }
  
  /* Navbar Dark Mode */
  .dark-mode #nav-bar {
    background-image: linear-gradient(to right, #172c48 7%, #632b2e 40%, #4b1e20 100%);
  }


@media (min-width:992px) { /*media query that targets screens smaller than full desktop width*/

    .dropdown>.dropdown-menu {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        display: block;
        transition: all 0.1s ease-out;
        border-radius: 5px; /*rounded corners */
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
        visibility: visible;
        top: 70%; /* adjust y position relative to parent button */
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    }

    @media (max-width: 768px) {
      #mobile-navbar {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 1050;
          transition: all 0.3s ease-in-out;
      }

      body:not(.homepage) {
        padding-top: 30px; /* Applies the padding to all pages except the homepage */
    }

      #mobile-navbar {background-image: linear-gradient(to right, #549dd1 7%, #e3888d 40%, #c75b61 100%);
      }

      body.dark-mode #mobile-navbar {
        background-image: linear-gradient(to right, #172c48 7%, #632b2e 40%, #4b1e20 100%);
    }

    #mobile-navbar.scrolled {
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  }

  /* Dark mode shadow */
  body.dark-mode #mobile-navbar.scrolled {
      box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.7);
  }
}
  

:root{
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
  }
  .darkmode{
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
  }

button{
    border: none;
    padding: .8em 2em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }
  .cta-button{
    background-color: var(--accent-color);
  }

  #theme-switch{
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*Last child = sun incon in dark mode */
  #theme-switch svg:last-child{
    fill: #283758;
  }
  #theme-switch svg:first-child{
    fill: #549dd1;
  }
  #theme-switch svg:last-child{
    display: none;
  }
  .dark-mode #theme-switch svg:first-child{
    display: none;
  }
  .dark-mode #theme-switch svg:last-child{
    display: block;
  }
