*
{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%; /* Make sure the nav-bar spans the full width */
  overflow: hidden; /* Prevent content from overflowing outside the section */

}

.navbar {
  background-image: linear-gradient(to right, #fddde6 7%, #e3888d 40%, #c75b61 100%);
  padding-right: 5%;
  padding-top: 0 !important;
  padding-bottom: 0;
  padding-left: 0;
  display: flex; /* Flexbox layout for better control */
  max-width: 100%; /* Ensures the navbar doesn't exceed the page width */
  overflow-x: auto; /* Enables horizontal scrolling */
  justify-content: space-between; /* Space between brand and links */
  align-items: center; /* Center items vertically */
}

.navbar-brand img
{
  width: 50%;     /* Adjust this value to make the image smaller */
  max-width: 300px; /* Limit the maximum width if needed */
  height: auto;   /* Maintain aspect ratio */
  padding: 2%;
}

.navbar-nav li {
  padding: 0 10%;
  flex: 1; /* Allows items to grow and shrink equally */
  min-width: 0; /* Prevents the item from forcing the width */
  font-size: 10px;
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  display: flex;
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px; /* Add spacing between navbar items */
}

.navbar-nav li a /*cannot apply padding here, as this anchor is specifically inside/applies to the text */ {
  color: #fff !important;
  font-weight: 600;
}

.nav-link:hover {
  background-color: #c75b61; /* Add a hover effect */
  color: #fff; /* Ensure text color stays white on hover */
}
