.nav-tabs .nav-link {
    color: #c75b61;
    font-weight: 600;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #549dd1;
    border-color: #007bff;
}

.tab-content h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.tab-container1 {
    border: 5px solid #549dd1; 
    padding: 15px;
    border-radius: 5px;
}

.tab-container2 {
    border: 5px solid #67bcdb; 
    padding: 15px;
    border-radius: 5px;
}

.tab-container3 {
    border: 5px solid #e3888d; 
    padding: 15px;
    border-radius: 5px;
}

.tab-container4 {
    border: 5px solid #c75b61;
    padding: 15px;
    border-radius: 5px;
}
/*
.content {
    position: relative;
    padding-left: 5rem;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px; 
    background: linear-gradient(to bottom, #549dd1, #67bcdb, #e3888d); 
    border-radius: 4px; 
}

@media (max-width: 768px) {
    .content {
        padding-left: 2rem; 
    }
  }

*/ 

#Structural {
    padding-bottom: 5rem;
}
/*
#LHC {
    border-left: 5px solid #549dd1;
}

#CRM {
    border-left: 5px solid #67bcdb;
}

#Structural {
    border-left: 5px solid #e3888d;
}

#PICC {
    border-left: 5px solid #c75b61;
}
*/
